@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body,html {
    margin: 0;
    padding: 0;
}

body {

    box-sizing: border-box;
    font-family: Montserrat;
}

.header {
    text-align: center;
    background-color: #005680;
    /* background: #7a7f8c; */
    color: #fff;
    font-size: 2.5rem;
    padding: 10px;
    /* margin-bottom: 10px; */
}

#container {
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
}

.q-list {
    border-left: 2px solid #686868;
    display: inherit;
    max-height: 450px;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, minmax(70px, auto));
    grid-auto-rows: minmax(auto, 50px);
    padding: 10px;
    gap: 20px;

}

.btn-nav {
    font-family: Montserrat;
    background-color: #ddd;
    border: none;
    outline:none;

    /* border-radius: 50%; */
}

.main-wrapper {
    display: inherit;
    /* background: #7a7f8c; */
    overflow-y: auto;
    grid-auto-rows: minmax(450px, 450px);
    justify-content: center;
}

.wrapper {
    position: relative;
    padding: 20px;
    display: none;


}

.question,
.options {
    /* background-color: #ddd; */
    min-width: 500px;
    padding: 10px;
}

.question {
    margin: 10px 0;
    background-color: #0095ff17;

}

#previous,
#next,
#submit,
#cancel,
.btn-r {
    font-family: Montserrat;
    background-color: #005680;
    padding: 10px 20px;
    color: #fff;
    /* min-width: 100px; */
    border: none;
    border-radius: 3px;
    outline: none;
}

#next,#previous{
    /* font-weight: bold; */
    font-size: 1.2rem;
}

.option {
    position: relative;

    width: 90%;
    bottom: 10px;
    left: 30px;
    margin: 0;
}

.opt-list  {
    background-color: #f4f4f4;
    margin-bottom: 10px;
}

.opt-list:hover {
    cursor: pointer;
}

.check {
    position: relative;
    top: 9px;
    left: 5px;
}

.nav {
    display: inherit;
    text-align: center;
    padding:5px;
    grid-template-columns: repeat(3, 1fr);


}

#previous:hover,
#next:hover,
#submit:hover,
#cancel:hover,.btn-r:hover{
    cursor: pointer;
    background-color: #005580d7;
}
.btn-nav:hover{
    cursor: pointer;
}

.question>p {
    margin: 10px 10px 10px 0;
}
.topic{
    text-align: center;
    position: sticky;
    box-shadow: 2px 0 5px #ddd;
    /* margin-bottom: 10px; */
    background-color: #fff;
    top: 0;
    z-index: 1;
    padding: 1px;

}
#score-container{
    /* background-color: #ddd; */
    /* padding: 20px; */
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
#toggle{
    margin-left:5px;
    padding: 5px 10px;
    /* background-color: #ddd; */
    border-radius: 50%;
    background-color: #005680;
    color: #fff;
}
#score-container{
    position: fixed;
    width: 100%;
    /* height: 100%; */
    z-index: 1;
    top: 0;
    bottom: 0;
    background-color: #00000081;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
}
.btn-r{
    margin-bottom:10px ;
}

#score{
    /* background-color: #f1f1f1; */
    color: #2e2e2e;
    /* padding:10px 20px; */
}
#con{
    background-color: #fff;
    padding: 10px 20px;
}
@media only screen and (max-width:800px){
    .main-wrapper{
        grid-auto-rows: auto;
    }
    #container{
        grid-template-columns: 1fr;
        padding: 0;
    }
    .header{
        font-size: 1.5rem;
    }
    .q-list{
        display: inline-block; 
        white-space: nowrap;
        height: 45px;
        text-align: center;
        grid-row: 1/2;
        position: sticky;
        border-left: none;
        top: 70px;
        background-color: #fff;
        /* overflow: auto; */
        /* grid-template-columns: repeat(auto-fit, minmax(40px, auto));
        grid-auto-rows: minmax(auto, 40px); */
    }
    .question, .options {
        min-width: auto;
        padding: 10px;
    }

    
    .wrapper{
        padding: 0px 20px;
    }
    #next,#previous{
        padding: 10px 16px;
        
        /* font-size: 1rem; */
        margin-bottom: 5px;
    }
    .nav{
        position: sticky;
        bottom: 0;
        background: #fff;
    }
    .btn-nav{
        width: 40px;
        height: 40px;
        margin-right: 15px;
        padding: 0;
    }
}